@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, Arial, Helvetica;

}

.main {
    width: 1000px;
    border: 2px solid red;
    margin: auto;
}

.container{
    width: 1000px;
    height: 700px;
    background-color: green;
}

.row1 {
    width: 1000px;
    height: 100px;
    border: 2px solid yellow;
}

.row2 {
    width: 1000px;
    height: 300px;
    
}

.item {
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
}

.item:hover{
    background-color: green;

}

.row3 {
    width: 1000px;
    height: 300px;
   
    margin-top: 100px;
}