body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-app {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.weather-header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.weather-container {
    margin-bottom: 20px;
}

.city {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 36px;
    color: #e67e22;
    margin-bottom: 10px;
}

.condition {
    font-size: 18px;
    color: #3498db;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.found{
    color: red;
    font-size: 20px;
}
